<!DOCTYPE html>
<html lang="en">
<head><% include partials/_head %></head>

<header><% include partials/_header %></header>

<body class="container">
  <main>
    <div class="jumbotron">
      <h1 class="text-center"><small>Tiny</small>App</h1>
      <div class="box">
        <table class="tablefont">
          <tr class="column-title">
            <th class="rowone" style="font-size: 1.2em">shortURL</th>
            <th class="rowtwo" style="font-size: 1.2em">longURL</th>
            <th class="rowthree" style="font-size: 1.2em">Edit</th>
            <th class="rowfour" style="font-size: 1.2em">Delete</th>
          </tr>
          <% for(let url in urls) { %>
          <tr>
            <th class="rowone">http://localhost:8080/u/<a href="http://localhost:8080/u/<%=url%>" target="_blank"><%= url %></a></th>
            <th class="rowtwo"><%= urls[url] %></th>
            <th class="rowthree"><a href="<%=`/urls/${url}`%>"><button class="btn"><i class="fa fa-pencil-square-o"></i></button></a></th>
            <th class="rowfour"><form method="POST" action="/urls/<%=url%>/delete"><button class="btn"><i class="fa fa-trash-o" aria-hidden="true"></i></button></form></th>
          </tr>
          <% } %>
        </table>
      </div>
    </div>
  </main>

  <footer class="foot"><% include partials/_footer %></footer>

</body>
</html>
